<h1>Administracion de Roles</h1>
    <table class="table" *ngIf="hayRegistros(); else sinarticulos">
      <thead class="thead-dark">
        <tr >
          <th scope="col">Id rol</th>
          <th scope="col">Nombre rol</th>
          <th scope="col">Seleccionar</th>
          <th scope="col">Borrar</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let art of roles">
        <td>{{art.idRoles}}</td>
        <td>{{art.Nom_rol}}</td>

        <td><button class="btn btn-primary" (click)="seleccionar(art.idRoles)">Seleccionar</button></td>
        <td><button class="btn btn-danger" (click)="baja(art.idRoles)">Borrar</button></td>        
      
        </tr>
      </tbody>
    </table>
    
    <br><br>

    <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>

    <div>
      <p>
        Id rol:<input type="text" [(ngModel)]="art.idRoles" />
      </p>
      <p>
        Nombre rol:<input type="text" [(ngModel)]="art.Nom_rol" />
      </p>

      <p><button class="btn btn-success" (click)="alta()">Agregar</button>
      <button class="btn btn-secondary"(click)="modificacion()">Modificar</button></p>
    </div>  

