

<h1>Administracion de Pedidos </h1>
    <table class="table" *ngIf="hayRegistros(); else sinarticulos">
      <thead class="thead-dark">
        <tr >
          <th scope="col">ID Pedido</th>
          <th scope="col">Nombre Pedido </th>
          <th scope="col">Cantidad</th>
          <th scope="col">ID Proveedor</th>
          <th scope="col">ID Producto</th>
          <th scope="col">Seleccionar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let art of pedido">
        <td>{{art.idPedido}}</td>
        <td>{{art.Nombre_pedido}}</td>
        <td>{{art.Cantidad}}</td>
        <td>{{art.idProveedor}}</td>
        <td>{{art.id_Producto}}</td>
        <td><button class="btn btn-primary" (click)="seleccionar(art.idPedido)">Seleccionar</button></td>
        <td><button class="btn btn-danger" (click)="baja(art.idPedido)">Borrar</button></td>        
      
        </tr>
      </tbody>
    </table>
    
    <br><br>
    <ng-template #sinarticulos><p>No hay pedidos</p></ng-template>

    <div>
      <p>
        ID Proveedor:<input type="text" [(ngModel)]="art.idPedido" />
      </p>
      <p>
        Nombre Pedido<input type="text" [(ngModel)]="art.Nombre_pedido" />
      </p>
      <p>
        Cantidad:<input type="number" [(ngModel)]="art.Cantidad" />
      </p> 
      <p>
        ID Proveedor:<input type="text" [(ngModel)]="art.idProveedor" />
      </p>
      <p>
        ID Producto:<input type="Email" [(ngModel)]="art.id_Producto" />
      </p>

      <p><button class="btn btn-success" (click)="alta()">Agregar</button>
      <button class="btn btn-secondary"(click)="modificacion()">Modificar</button></p>
    </div>  